[Desktop Entry]
Version=1.0
Type=Link
Name=Google Maps Platform – weatherApp – Google Cloud console
Comment=
Icon=user-bookmarks
URL=https://console.cloud.google.com/google/maps-apis/build?project=weatherapp-425400
